div {
  background-image: url('../assets/Untitled design.png');
  background-size: cover;
  border: 1px solid red;
  width: 100%;
  height: 1300px;
}

@keyframes neon-border {
  0% {
    text-shadow: 0 0 5px rgba(0, 255, 13, 0.7), 0 0 20px rgba(0, 255, 13, 0.7), 0 0 10px rgba(0, 255, 13, 0.7), 0 0 40px rgba(0, 255, 13, 0.7), 0 0 20px rgba(0, 255, 13, 0.7), 0 0 38px rgba(0, 255, 13, 0.7);
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 1px rgba(0, 255, 13, 0.7), 0 0 20px rgba(0, 255, 13, 0.7), 0 0 10px rgba(0, 255, 13, 0.7), 0 0 40px rgba(0, 255, 13, 0.7), 0 0 20px rgba(0, 255, 13, 0.7), 0 0 38px rgba(0, 255, 13, 0.7);
  }
}

h1 {
  text-align: center;
  font-size: 46px;
  color: rgb(0, 255, 13);
  -webkit-text-fill-color: rgba(169, 7, 75, 0.67);
  font-family: "Your Cretvv", sans-serif;
  animation: neon-border 10s linear infinite; /* Aplica la animación al título */
}




body {
  background-color: rgba(0, 0, 255, 0.425);
}
